@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Black.eot');
  src: url('../font/AvertaCY-Black.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Black.woff2') format('woff2'), url('../font/AvertaCY-Black.woff') format('woff'), url('../font/AvertaCY-Black.ttf') format('truetype'), url('../font/AvertaCY-Black.svg#AvertaCY-Black') format('svg');
  font-weight: 900;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Regular.eot');
  src: url('../font/AvertaCY-Regular.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Regular.woff2') format('woff2'), url('../font/AvertaCY-Regular.woff') format('woff'), url('../font/AvertaCY-Regular.ttf') format('truetype'), url('../font/AvertaCY-Regular.svg#AvertaCY-Regular') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Bold.eot');
  src: url('../font/AvertaCY-Bold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Bold.woff2') format('woff2'), url('../font/AvertaCY-Bold.woff') format('woff'), url('../font/AvertaCY-Bold.ttf') format('truetype'), url('../font/AvertaCY-Bold.svg#AvertaCY-Bold') format('svg');
  font-weight: 700;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Extrabold.eot');
  src: url('../font/AvertaCY-Extrabold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Extrabold.woff2') format('woff2'), url('../font/AvertaCY-Extrabold.woff') format('woff'), url('../font/AvertaCY-Extrabold.ttf') format('truetype'), url('../font/AvertaCY-Extrabold.svg#AvertaCY-Extrabold') format('svg');
  font-weight: 800;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Light.eot');
  src: url('../font/AvertaCY-Light.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Light.woff2') format('woff2'), url('../font/AvertaCY-Light.woff') format('woff'), url('../font/AvertaCY-Light.ttf') format('truetype'), url('../font/AvertaCY-Light.svg#AvertaCY-Light') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: 'Averta CY Extrathin';
  src: url('../font/AvertaCY-Extrathin.eot');
  src: url('../font/AvertaCY-Extrathin.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Extrathin.woff2') format('woff2'), url('../font/AvertaCY-Extrathin.woff') format('woff'), url('../font/AvertaCY-Extrathin.ttf') format('truetype'), url('../font/AvertaCY-Extrathin.svg#AvertaCY-Extrathin') format('svg');
  font-weight: 200;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Semibold.eot');
  src: url('../font/AvertaCY-Semibold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Semibold.woff2') format('woff2'), url('../font/AvertaCY-Semibold.woff') format('woff'), url('../font/AvertaCY-Semibold.ttf') format('truetype'), url('../font/AvertaCY-Semibold.svg#AvertaCY-Semibold') format('svg');
  font-weight: 600;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Thin.eot');
  src: url('../font/AvertaCY-Thin.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Thin.woff2') format('woff2'), url('../font/AvertaCY-Thin.woff') format('woff'), url('../font/AvertaCY-Thin.ttf') format('truetype'), url('../font/AvertaCY-Thin.svg#AvertaCY-Thin') format('svg');
  font-weight: 100;
}
