@font-face {
  font-family: Averta CY;
  src: url('../font/Averta\ Cyrillic\ Thin.otf'), url('../font/Averta\ Cyrillic\ Regular.otf'), url('../font/Averta\ Cyrillic\ SemiBold.otf'), url('../font/Averta\ Cyrillic\ ExtraBold.otf'), url('../font/Averta\ Cyrillic\ Bold.otf');
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
ul {
  list-style: none;
  display: block;
}
li {
  display: block;
}
a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.text-foot-title-u {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
}
.text-foot-title-l {
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: left;
  text-transform: none;
}
.text-foot-desc-m {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: left;
  text-transform: none;
}
.text-foot-desc-s {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: left;
  text-transform: none;
}
