@font-face {
  font-family: 'Averta CY';
  src: url('AvertaCY-Black.eot');
  src: url('AvertaCY-Black.eot?#iefix') format('embedded-opentype'), url('AvertaCY-Black.woff2') format('woff2'), url('AvertaCY-Black.woff') format('woff'), url('AvertaCY-Black.ttf') format('truetype'), url('AvertaCY-Black.svg#AvertaCY-Black') format('svg');
  font-weight: 900;
}
@font-face {
  font-family: 'Averta CY';
  src: url('AvertaCY-Regular.eot');
  src: url('AvertaCY-Regular.eot?#iefix') format('embedded-opentype'), url('AvertaCY-Regular.woff2') format('woff2'), url('AvertaCY-Regular.woff') format('woff'), url('AvertaCY-Regular.ttf') format('truetype'), url('AvertaCY-Regular.svg#AvertaCY-Regular') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'Averta CY';
  src: url('AvertaCY-Bold.eot');
  src: url('AvertaCY-Bold.eot?#iefix') format('embedded-opentype'), url('AvertaCY-Bold.woff2') format('woff2'), url('AvertaCY-Bold.woff') format('woff'), url('AvertaCY-Bold.ttf') format('truetype'), url('AvertaCY-Bold.svg#AvertaCY-Bold') format('svg');
  font-weight: 700;
}
@font-face {
  font-family: 'Averta CY';
  src: url('AvertaCY-Extrabold.eot');
  src: url('AvertaCY-Extrabold.eot?#iefix') format('embedded-opentype'), url('AvertaCY-Extrabold.woff2') format('woff2'), url('AvertaCY-Extrabold.woff') format('woff'), url('AvertaCY-Extrabold.ttf') format('truetype'), url('AvertaCY-Extrabold.svg#AvertaCY-Extrabold') format('svg');
  font-weight: 800;
}
@font-face {
  font-family: 'Averta CY';
  src: url('AvertaCY-Light.eot');
  src: url('AvertaCY-Light.eot?#iefix') format('embedded-opentype'), url('AvertaCY-Light.woff2') format('woff2'), url('AvertaCY-Light.woff') format('woff'), url('AvertaCY-Light.ttf') format('truetype'), url('AvertaCY-Light.svg#AvertaCY-Light') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: 'Averta CY Extrathin';
  src: url('AvertaCY-Extrathin.eot');
  src: url('AvertaCY-Extrathin.eot?#iefix') format('embedded-opentype'), url('AvertaCY-Extrathin.woff2') format('woff2'), url('AvertaCY-Extrathin.woff') format('woff'), url('AvertaCY-Extrathin.ttf') format('truetype'), url('AvertaCY-Extrathin.svg#AvertaCY-Extrathin') format('svg');
  font-weight: 200;
}
@font-face {
  font-family: 'Averta CY';
  src: url('AvertaCY-Semibold.eot');
  src: url('AvertaCY-Semibold.eot?#iefix') format('embedded-opentype'), url('AvertaCY-Semibold.woff2') format('woff2'), url('AvertaCY-Semibold.woff') format('woff'), url('AvertaCY-Semibold.ttf') format('truetype'), url('AvertaCY-Semibold.svg#AvertaCY-Semibold') format('svg');
  font-weight: 600;
}
@font-face {
  font-family: 'Averta CY';
  src: url('AvertaCY-Thin.eot');
  src: url('AvertaCY-Thin.eot?#iefix') format('embedded-opentype'), url('AvertaCY-Thin.woff2') format('woff2'), url('AvertaCY-Thin.woff') format('woff'), url('AvertaCY-Thin.ttf') format('truetype'), url('AvertaCY-Thin.svg#AvertaCY-Thin') format('svg');
  font-weight: 100;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: 'Averta CY';
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}
ul {
  list-style: none;
  display: block;
}
li {
  display: block;
}
a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-sub {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 11.5px 30px;
  border: 1px outset transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-sub:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading-text {
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.heading-text::before {
  position: absolute;
  content: "";
  top: 15px;
  left: -127px;
  width: 120px;
  height: 100%;
  border-top: 1px solid #ffffff;
}
.heading-text::after {
  position: absolute;
  content: "";
  top: 15px;
  right: -127px;
  width: 120px;
  height: 100%;
  border-top: 1px solid #ffffff;
}
.heading-sub {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin-top: 12.5px;
}
.heading-sub img {
  max-width: 13px;
  margin-left: 5px;
}
.scroll {
  overflow: auto;
  /* ẩn scroll  */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
