@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Black.eot');
  src: url('../font/AvertaCY-Black.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Black.woff2') format('woff2'), url('../font/AvertaCY-Black.woff') format('woff'), url('../font/AvertaCY-Black.ttf') format('truetype'), url('../font/AvertaCY-Black.svg#AvertaCY-Black') format('svg');
  font-weight: 900;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Regular.eot');
  src: url('../font/AvertaCY-Regular.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Regular.woff2') format('woff2'), url('../font/AvertaCY-Regular.woff') format('woff'), url('../font/AvertaCY-Regular.ttf') format('truetype'), url('../font/AvertaCY-Regular.svg#AvertaCY-Regular') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Bold.eot');
  src: url('../font/AvertaCY-Bold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Bold.woff2') format('woff2'), url('../font/AvertaCY-Bold.woff') format('woff'), url('../font/AvertaCY-Bold.ttf') format('truetype'), url('../font/AvertaCY-Bold.svg#AvertaCY-Bold') format('svg');
  font-weight: 700;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Extrabold.eot');
  src: url('../font/AvertaCY-Extrabold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Extrabold.woff2') format('woff2'), url('../font/AvertaCY-Extrabold.woff') format('woff'), url('../font/AvertaCY-Extrabold.ttf') format('truetype'), url('../font/AvertaCY-Extrabold.svg#AvertaCY-Extrabold') format('svg');
  font-weight: 800;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Light.eot');
  src: url('../font/AvertaCY-Light.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Light.woff2') format('woff2'), url('../font/AvertaCY-Light.woff') format('woff'), url('../font/AvertaCY-Light.ttf') format('truetype'), url('../font/AvertaCY-Light.svg#AvertaCY-Light') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: 'Averta CY Extrathin';
  src: url('../font/AvertaCY-Extrathin.eot');
  src: url('../font/AvertaCY-Extrathin.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Extrathin.woff2') format('woff2'), url('../font/AvertaCY-Extrathin.woff') format('woff'), url('../font/AvertaCY-Extrathin.ttf') format('truetype'), url('../font/AvertaCY-Extrathin.svg#AvertaCY-Extrathin') format('svg');
  font-weight: 200;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Semibold.eot');
  src: url('../font/AvertaCY-Semibold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Semibold.woff2') format('woff2'), url('../font/AvertaCY-Semibold.woff') format('woff'), url('../font/AvertaCY-Semibold.ttf') format('truetype'), url('../font/AvertaCY-Semibold.svg#AvertaCY-Semibold') format('svg');
  font-weight: 600;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Thin.eot');
  src: url('../font/AvertaCY-Thin.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Thin.woff2') format('woff2'), url('../font/AvertaCY-Thin.woff') format('woff'), url('../font/AvertaCY-Thin.ttf') format('truetype'), url('../font/AvertaCY-Thin.svg#AvertaCY-Thin') format('svg');
  font-weight: 100;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: 'Averta CY';
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}
ul {
  list-style: none;
  display: block;
}
li {
  display: block;
}
a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-sub {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 11.5px 30px;
  border: 1px outset transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-sub:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading-text {
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
@media (min-width: 760px) {
  .heading-text::before {
    position: absolute;
    content: "";
    top: 15px;
    left: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
  .heading-text::after {
    position: absolute;
    content: "";
    top: 15px;
    right: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
}
.heading-sub {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin-top: 14px;
}
.heading-sub img {
  max-width: 13px;
  margin-left: 5px;
}
.scroll {
  overflow: auto;
  /* ẩn scroll  */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.brand__icon {
  position: absolute;
  top: 23px;
  color: #000000;
  padding: 8px 11.5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.brand__icon:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.app {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000000;
}
.header {
  position: relative;
}
.header__content {
  width: 100%;
  position: absolute;
  top: 0px;
  background-image: linear-gradient(#000000, rgba(0, 0, 0, 0.4));
}
.header__heading {
  display: none;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
.left__list,
.nav__list {
  display: none;
}
.menu__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right__form {
  display: none;
}
.right__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 24px;
  min-width: 120px;
}
@media (min-width: 760px) {
  .header__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 445px;
    margin: 0 auto;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: uppercase;
    padding: 13px 0px;
  }
  .header__heading p:first-child {
    position: relative;
  }
  .header__heading p:first-child::after {
    position: absolute;
    content: "";
    height: 12px;
    top: 3px;
    right: -10px;
    border-right: 1px solid #ffffff;
  }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .left__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 250px;
  }
  .left__item:first-child {
    margin-right: 10px;
  }
  .left-item__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left-item__text {
    font-size: 10px;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-left: 10px;
  }
  .left__item:nth-child(2) .left-item__text {
    font-size: 14px;
  }
  .right__form {
    display: block;
    position: relative;
  }
  .right-form__input {
    width: 100%;
    min-width: 200px;
    padding: 11.5px 0px 11.5px 18.5px;
    border-radius: 20px;
  }
  .right-form__icon {
    position: absolute;
    top: 7px;
    right: 19px;
  }
  .right__list {
    min-width: 100px;
  }
  .right__item.mobile {
    display: none;
  }
  .menu__logo {
    margin: 0px 10px 0px;
  }
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 10px 5px 10px;
  }
  .nav__item {
    margin-left: 27px;
  }
  .nav__item:first-child {
    margin: 0px;
  }
  .nav-item__link {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
  }
  .nav__item:last-child .nav-item__link {
    font-weight: 900;
    font-style: italic;
    background-color: #b50000;
    padding: 5px 10px;
  }
}
@media (min-width: 1024px) {
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 60px 18.5px 60px;
  }
  .left__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 309px;
    width: 100%;
    padding-bottom: 11px;
  }
  .left__item:first-child {
    margin: 0;
  }
  .left-item__text {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
  }
  .menu__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 390px;
  }
  .menu__logo {
    max-width: 192px;
    margin: 0px 0px 0px 81px;
  }
  .right-form__input {
    min-width: 238px;
    max-width: 100%;
  }
  .right__list {
    min-width: 120px;
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1073px;
    margin: 0 auto;
    align-items: center;
    padding: 10px 0px;
  }
  .nav__item {
    margin: 0px;
  }
  .nav-item__link {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .nav__item:last-child {
    margin-top: -1.5px;
  }
  .nav__item:last-child .nav-item__link {
    padding: 7.5px 18px;
    letter-spacing: 0.05em;
  }
}
.body__product {
  display: none;
}
.banner__content {
  overflow: auto;
  /* ẩn scroll  */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  background-color: #ffffff;
  padding: 24px 0px;
}
.banner__content::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.banner__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  padding: 0 50px;
}
.banner__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc((100% - 160px) / 5);
}
.banner-item__icon {
  width: 40px;
}
.banner-item__text {
  font-size: 10px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 10px;
  text-transform: uppercase;
}
@media (min-width: 1024px) {
  .banner__list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
  }
}
/* //brand */
.body__brand {
  padding-top: 60px;
}
.brand__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.brand-heading__text {
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
@media (min-width: 760px) {
  .brand-heading__text::before {
    position: absolute;
    content: "";
    top: 15px;
    left: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
  .brand-heading__text::after {
    position: absolute;
    content: "";
    top: 15px;
    right: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
}
.brand__banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 70px;
  margin: 70px 0px 37px;
}
.brand-banner__item {
  margin-bottom: 20px;
}
.brand-banner__box {
  width: 100%;
}
.brand-banner__content {
  width: 100%;
  max-width: 296px;
  margin: 0 auto;
}
.brand-banner__logo {
  text-align: center;
}
.brand-banner__logo img {
  width: auto;
}
.brand-banner__text {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0px;
  margin-top: 10px;
}
.brand__list {
  overflow: auto;
  /* ẩn scroll  */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  margin: 0 10px;
  padding: 3px 0px 1px 0px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 40px;
  position: relative;
}
.brand__list::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.brand-list__inner {
  width: 940px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}
.brand__item {
  width: calc((100% - 300px) / 6);
}
.brand__left,
.brand__right {
  display: none;
}
@media (min-width: 760px) {
  .brand__banner {
    flex-direction: row;
  }
  .brand-banner__item {
    width: calc((100% - 10px) / 2);
    position: relative;
    margin-bottom: 0px;
  }
  .brand-banner__box {
    position: absolute;
    bottom: 34px;
    left: 0px;
  }
}
@media (min-width: 1024px) {
  .brand__list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .brand-list__inner {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
  }
  .brand__left {
    position: absolute;
    top: 23px;
    color: #000000;
    padding: 8px 11.5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    transition: all 0.2s ease;
    left: 40px;
    display: block;
  }
  .brand__left:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .brand__right {
    position: absolute;
    top: 23px;
    color: #000000;
    padding: 8px 11.5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    transition: all 0.2s ease;
    right: 40px;
    display: block;
  }
  .brand__right:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
.body__collection {
  padding-top: 61px;
}
.collection__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.collection-heading__text {
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
@media (min-width: 760px) {
  .collection-heading__text::before {
    position: absolute;
    content: "";
    top: 15px;
    left: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
  .collection-heading__text::after {
    position: absolute;
    content: "";
    top: 15px;
    right: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
}
.collection-heading__sub {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin-top: 14px;
}
.collection-heading__sub img {
  max-width: 13px;
  margin-left: 5px;
}
.collection__banner {
  margin: 41px 0px 0px 0px;
}
.collection-banner__item {
  position: relative;
}
.collection-banner_content {
  position: absolute;
  top: 10%;
  left: 7%;
}
.collection-content__heading {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.05em;
  text-align: left;
  text-transform: uppercase;
}
.collection-content__desc {
  font-size: 12px;
  text-align: left;
  letter-spacing: 0px;
  width: 100%;
  max-width: 370px;
  margin: 11px 0 13px 0px;
}
.collection-content__btn {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 11.5px 30px;
  border: 1px outset transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  float: left;
}
.collection-content__btn:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}
.collection-banner__img {
  display: none;
}
.collection__box {
  background-image: url(../img/collection-list-bg.svg);
  padding: 40px 0px 20px;
}
.collection__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.collection__item {
  width: calc((100% - 40px) / 3);
  margin-bottom: 20px;
}
.collection-item__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.collection-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 2px solid #ffffff;
  border-radius: 50%;
}
.collection-item__icon img {
  width: auto;
}
.collection-item__desc {
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin-top: 16px;
}
@media (min-width: 760px) {
  .collection-content__heading {
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
  }
  .collection-content__desc {
    font-size: 14px;
    line-height: 20px;
  }
  .collection__box {
    padding: 36px 0px 40px 0px;
  }
  .collection__list {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
  .collection__item {
    width: calc((100% - 200px) / 6);
    margin-bottom: 0px;
  }
}
@media (min-width: 1024px) {
  .collection-banner_content {
    top: 78px;
    left: 120px;
  }
  .collection-banner__img {
    display: block;
    max-width: 280px;
    position: absolute;
    bottom: -7px;
    right: 120px;
  }
  .collection__list {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
  }
  .collection__item {
    width: calc((100% - 300px) / 6);
  }
}
.footer {
  background-color: #000000;
}
.footer__item {
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
}
.footer__logo {
  width: 100%;
  max-width: 205px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.footer-logo__img {
  margin-bottom: 14px;
}
.footer-logo__img img {
  width: auto;
}
.footer__item:nth-child(2) .footer-logo__img {
  margin-bottom: 35px;
}
.footer-logo__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__item {
  margin-bottom: 40px;
}
.info__title {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.info__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  margin-top: 10px;
}
.inner__contact {
  padding: 0px 10px 30px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
}
.contact__title {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.contact__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  margin-top: 10px;
}
.contact__logo {
  width: 100%;
  max-width: 390px;
  margin-top: 20px;
}
.contact-logo__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-logo__item {
  width: calc(100% / 5);
}
.contact-logo__bottom {
  max-width: 124px;
  margin-top: 10px;
}
.inner__local {
  padding-top: 28px;
}
.local__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.local-btn__item {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  text-transform: uppercase;
  padding: 11.5px 30px;
  border: 1px outset #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 10px;
}
.local-btn__item:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: transparent;
}
.local-btn__item.active {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 11.5px 30px;
  border: 1px outset transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.local-btn__item.active:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}
.local__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}
.local__item {
  width: calc((100% - 20px) / 3);
  margin-top: 30px;
}
.local__title {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
}
.local__desc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  align-items: flex-start;
  margin-top: 15px;
}
.local-desc__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.local-desc__text {
  width: 100%;
  margin-left: 15px;
}
.footer__end {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0px;
  padding: 18px 6px 18px 0px;
}
@media (min-width: 760px) {
  .footer__inner {
    padding: 0 20px;
  }
  .footer__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 0px 37px 0px;
  }
  .footer__item:nth-child(2) {
    padding: 40px 0px 15px 0px;
  }
  .footer__logo {
    width: 100%;
    max-width: 238px;
    margin: 0px ;
  }
  .footer-logo__icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-icon__item {
    margin-left: 10px;
  }
  .inner__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .info__title,
  .info__desc {
    text-align: left;
  }
  .inner__contact {
    padding: 0px 0px 30px;
  }
  .contact__title,
  .contact__desc {
    text-align: left;
  }
  .local-btn__item {
    margin: 0px 13px 0px 0px;
  }
  .local__list {
    padding: 0px;
  }
  .local__item {
    width: calc((100% - 40px) / 3);
    margin-top: 30px;
  }
}
@media (min-width: 1024px) {
  .footer__box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .footer-logo__img {
    text-align: left;
  }
  .footer__inner {
    width: 100%;
    max-width: 927px;
    padding: 0px;
  }
  .footer__item:nth-child(2) .footer__inner {
    padding-left: 5px;
  }
  .inner__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .info__item {
    margin-right: 61px;
  }
  .info__item:last-child {
    margin-right: 0px;
  }
  .footer-icon__item:first-child {
    margin-left: 0;
  }
  .inner__contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5px 0px 30px;
  }
  .contact__logo {
    margin-left: 36px;
    margin-top: 15px;
  }
  .contact-logo__item {
    width: calc((100% - 40px) / 5);
  }
  .local__item {
    width: calc((100% - 80px) / 3);
  }
  .local-desc__text {
    max-width: 250px;
  }
}
