@font-face {
  font-family: "Averta CY";
  src: url('../font/AvertaCY-Thin.eot');
  src: url("../font/AvertaCY-Thin.woff") format('woff'), url("../font/Averta-Cyrillic-Thin.woff2") format('woff2'), url("../font/AvertaCY-Thin.ttf") format('truetype'), url("../font/AvertaCY-Thin.svg") format('svg');
  font-weight: 300;
}
@font-face {
  font-family: "Averta CY";
  src: url('../font/AvertaCY-Regular.eot');
  src: url('../font/AvertaCY-Regular.woff') format('woff'), url("../font/AvertaCY-Regular.woff2") format('woff2'), url("../font/AvertaCY-Regular.ttf") format('truetype'), url("../font/AvertaCY-Regular.wsvg") format('svg');
  font-weight: 400;
}
@font-face {
  font-family: "Averta CY";
  src: url('../font/AvertaCY-Semibold.eot');
  src: url('../font/AvertaCY-Semibold.woff') format('woff'), url("../font/AvertaCY-Semibold.woff2") format('woff2'), url("../font/AvertaCY-Semibold.ttf") format('truetype'), url("../font/AvertaCY-Semibold.wsvg") format('svg');
  font-weight: 600;
}
@font-face {
  font-family: "Averta CY";
  src: url('../font/AvertaCY-Bold.eot');
  src: url('../font/AvertaCY-Bold.woff') format('woff'), url("../font/AvertaCY-Bold.woff2") format('woff2'), url("../font/AvertaCY-Bold.ttf") format('truetype'), url("../font/AvertaCY-Bold.wsvg") format('svg');
  font-weight: 700;
}
@font-face {
  font-family: "Averta CY";
  src: url('../font/AvertaCY-Extrabold.eot');
  src: url('../font/AvertaCY-Extrabold.woff') format('woff'), url("../font/AvertaCY-Extrabold.woff2") format('woff2'), url("../font/AvertaCY-Extrabold.ttf") format('truetype'), url("../font/AvertaCY-Extrabold.wsvg") format('svg');
  font-weight: 900;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: 'Averta CY';
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}
ul {
  list-style: none;
  display: block;
}
li {
  display: block;
}
a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-sub {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 11.5px 30px;
  border: 1px outset transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-sub:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading-text {
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.heading-text::before {
  position: absolute;
  content: "";
  top: 15px;
  left: -127px;
  width: 120px;
  height: 100%;
  border-top: 1px solid #ffffff;
}
.heading-text::after {
  position: absolute;
  content: "";
  top: 15px;
  right: -127px;
  width: 120px;
  height: 100%;
  border-top: 1px solid #ffffff;
}
.heading-sub {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin-top: 12.5px;
}
.heading-sub img {
  max-width: 13px;
  margin-left: 5px;
}
.app {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000000;
}
.header {
  position: relative;
}
.header__content {
  width: 100%;
  position: absolute;
  top: 0px;
  background-image: linear-gradient(#000000, rgba(0, 0, 0, 0.4));
}
.header__heading {
  font-weight: 600;
  letter-spacing: 0px;
  text-transform: uppercase;
  padding: 11.5px 0px;
}
.header__menu {
  padding: 0px 20px;
}
.left__list,
.nav__list {
  display: none;
}
.menu__right {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.menu__logo {
  width: 100%;
  max-width: 150px;
  margin: 0 auto;
  margin-bottom: 10px;
}
.right__form {
  position: relative;
}
.right-form__input {
  width: 100%;
  min-width: 200px;
  padding: 11.5px 0px 11.5px 18.5px;
  border-radius: 20px;
}
.right-form__icon {
  position: absolute;
  top: 9px;
  right: 23px;
}
.right__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 24px;
  max-width: 120px;
}
@media (min-width: 760px) {
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 250px;
  }
  .left__item:first-child {
    margin-right: 10px;
  }
  .left-item__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left-item__text {
    font-size: 10px;
    text-transform: uppercase;
    margin-left: 5px;
  }
  .menu__right {
    margin-bottom: 0px;
  }
  .right__list {
    min-width: 100px;
  }
  .menu__logo {
    margin: 0px 10px 0px;
  }
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1076px;
    margin: 0 auto;
    align-items: flex-start;
    padding: 20px 10px 5px 10px;
  }
  .nav-item__link {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 5px;
  }
  .nav__item:last-child .nav-item__link {
    font-weight: 900;
    font-style: italic;
    background-color: #b50000;
    padding: 5px 10px;
  }
}
@media (min-width: 1024px) {
  .header__heading {
    font-size: 14px;
    font-weight: 600;
    line-height: auto;
    letter-spacing: 0px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    padding: 11.5px 0px;
  }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 61px;
  }
  .left__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 310px;
    width: 100%;
  }
  .left__item:first-child {
    margin: 0;
  }
  .left-item__text {
    font-size: 12px;
    font-weight: 600;
    line-height: 15px;
  }
  .menu__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu__logo {
    max-width: 192px;
    margin: 0px 0px 0px 80px;
  }
  .right-form__input {
    min-width: 238px;
    max-width: 100%;
  }
  .right__list {
    min-width: 120px;
  }
  .nav__list {
    align-items: center;
    padding: 10px 0px;
  }
  .nav-item__link {
    font-size: 12px;
  }
  .nav__item:last-child .nav-item__link {
    padding: 6.5px 16px;
  }
}
.banner__content,
.body__brand,
.body__collection,
.body__product {
  display: none;
}
.footer {
  background-color: #000000;
}
.footer__item {
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
}
.footer__logo {
  width: 100%;
  max-width: 205px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.footer-logo__img {
  margin-bottom: 14px;
}
.footer-logo__img img {
  width: auto;
}
.footer-logo__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__item {
  margin-bottom: 40px;
}
.info__title {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.info__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  margin-top: 10px;
}
.inner__contact {
  padding: 0px 10px 30px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
}
.contact__title {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.contact__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  margin-top: 10px;
}
.contact__logo {
  width: 100%;
  max-width: 380px;
  margin-top: 20px;
}
.contact-logo__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-logo__item {
  width: calc(100% / 5);
}
.contact-logo__bottom {
  max-width: 124px;
  margin-top: 20px;
}
.inner__local {
  padding-top: 30px;
}
.local__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.local-btn__item {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  text-transform: uppercase;
  padding: 11.5px 30px;
  border: 1px outset #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 10px;
}
.local-btn__item:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: transparent;
}
.local-btn__item.active {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 11.5px 30px;
  border: 1px outset transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.local-btn__item.active:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}
.local__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}
.local__item {
  width: calc((100% - 20px) / 3);
  margin-top: 30px;
}
.local__title {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
}
.local__desc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  align-items: flex-start;
  margin-top: 15px;
}
.local-desc__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.local-desc__text {
  width: 100%;
  margin-left: 15px;
}
.footer__end {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0px;
  padding: 20px 0;
}
@media (min-width: 760px) {
  .footer__inner {
    padding: 0 20px;
  }
  .footer__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 0px 40px 0px;
  }
  .footer__item:nth-child(2) {
    padding: 60px 0px 15px 0px;
  }
  .footer__logo {
    width: 100%;
    max-width: 238px;
    margin: 0px ;
  }
  .footer-logo__icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-icon__item {
    margin-left: 10px;
  }
  .inner__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .info__title,
  .info__desc {
    text-align: left;
  }
  .inner__contact {
    padding: 0px 0px 30px;
  }
  .contact__title,
  .contact__desc {
    text-align: left;
  }
  .local-btn__item {
    margin: 0px 15px 0px 0px;
  }
  .local__list {
    padding: 0px;
  }
  .local__item {
    width: calc((100% - 40px) / 3);
    margin-top: 30px;
  }
}
@media (min-width: 1024px) {
  .footer__box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .footer-logo__img {
    text-align: left;
  }
  .footer__inner {
    width: 100%;
    max-width: 927px;
    padding: 0px;
  }
  .inner__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .info__item {
    margin-right: 60px;
  }
  .info__item:last-child {
    margin-right: 0px;
  }
  .footer-icon__item:first-child {
    margin-left: 0;
  }
  .inner__contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .contact__logo {
    margin-left: 40px;
    margin-top: 0px;
  }
  .contact-logo__item {
    width: calc((100% - 80px) / 5);
  }
  .local__item {
    width: calc((100% - 80px) / 3);
  }
  .local-desc__text {
    max-width: 250px;
  }
}
