@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Black.eot');
  src: url('../font/AvertaCY-Black.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Black.woff2') format('woff2'), url('../font/AvertaCY-Black.woff') format('woff'), url('../font/AvertaCY-Black.ttf') format('truetype'), url('../font/AvertaCY-Black.svg#AvertaCY-Black') format('svg');
  font-weight: 900;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Regular.eot');
  src: url('../font/AvertaCY-Regular.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Regular.woff2') format('woff2'), url('../font/AvertaCY-Regular.woff') format('woff'), url('../font/AvertaCY-Regular.ttf') format('truetype'), url('../font/AvertaCY-Regular.svg#AvertaCY-Regular') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Bold.eot');
  src: url('../font/AvertaCY-Bold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Bold.woff2') format('woff2'), url('../font/AvertaCY-Bold.woff') format('woff'), url('../font/AvertaCY-Bold.ttf') format('truetype'), url('../font/AvertaCY-Bold.svg#AvertaCY-Bold') format('svg');
  font-weight: 700;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Extrabold.eot');
  src: url('../font/AvertaCY-Extrabold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Extrabold.woff2') format('woff2'), url('../font/AvertaCY-Extrabold.woff') format('woff'), url('../font/AvertaCY-Extrabold.ttf') format('truetype'), url('../font/AvertaCY-Extrabold.svg#AvertaCY-Extrabold') format('svg');
  font-weight: 800;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Light.eot');
  src: url('../font/AvertaCY-Light.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Light.woff2') format('woff2'), url('../font/AvertaCY-Light.woff') format('woff'), url('../font/AvertaCY-Light.ttf') format('truetype'), url('../font/AvertaCY-Light.svg#AvertaCY-Light') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: 'Averta CY Extrathin';
  src: url('../font/AvertaCY-Extrathin.eot');
  src: url('../font/AvertaCY-Extrathin.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Extrathin.woff2') format('woff2'), url('../font/AvertaCY-Extrathin.woff') format('woff'), url('../font/AvertaCY-Extrathin.ttf') format('truetype'), url('../font/AvertaCY-Extrathin.svg#AvertaCY-Extrathin') format('svg');
  font-weight: 200;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Semibold.eot');
  src: url('../font/AvertaCY-Semibold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Semibold.woff2') format('woff2'), url('../font/AvertaCY-Semibold.woff') format('woff'), url('../font/AvertaCY-Semibold.ttf') format('truetype'), url('../font/AvertaCY-Semibold.svg#AvertaCY-Semibold') format('svg');
  font-weight: 600;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Thin.eot');
  src: url('../font/AvertaCY-Thin.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Thin.woff2') format('woff2'), url('../font/AvertaCY-Thin.woff') format('woff'), url('../font/AvertaCY-Thin.ttf') format('truetype'), url('../font/AvertaCY-Thin.svg#AvertaCY-Thin') format('svg');
  font-weight: 100;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: 'Averta CY';
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}
ul {
  list-style: none;
  display: block;
}
li {
  display: block;
}
a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-sub {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 10.5px 29px;
  border: 1px outset transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
}
.button-sub:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading-text {
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
@media (min-width: 760px) {
  .heading-text::before {
    position: absolute;
    content: "";
    top: 15px;
    left: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
  .heading-text::after {
    position: absolute;
    content: "";
    top: 15px;
    right: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
}
.heading-sub {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin-top: 12px;
}
.heading-sub img {
  max-width: 13px;
  margin-left: 5px;
}
.scroll {
  overflow: auto;
  /* ẩn scroll  */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.brand__icon {
  position: absolute;
  top: 23px;
  color: #000000;
  padding: 8px 11.5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.brand__icon:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.banner {
  position: relative;
}
.banner__content {
  overflow: auto;
  /* ẩn scroll  */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  background-color: #ffffff;
  padding: 28px 0px;
}
.banner__content::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.banner__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1300px;
  padding: 0 50px;
}
.banner__item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc((100% - 160px) / 5);
}
.banner__item:nth-child(1) img {
  width: 20.9px;
}
.banner__item:nth-child(2) img {
  width: 30px;
}
.banner__item:nth-child(3) img {
  width: 43.92px;
}
.banner__item:nth-child(4) img {
  width: 33.1px;
}
.banner__item:nth-child(5) img {
  width: 30px;
}
.banner-item__text {
  font-size: 10px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
  letter-spacing: 0px;
  text-align: left;
  margin-left: 10px;
  text-transform: uppercase;
}
.banner__logo {
  width: 100%;
  max-width: 249px;
  margin: 0 auto;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}
.post__item {
  position: relative;
}
.post__content {
  width: 100%;
  max-width: 205px;
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 1;
}
.post__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}
.post__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
  margin-left: 15px;
}
.post__desc {
  line-height: 20px;
  letter-spacing: 0px;
  color: #000000;
  text-align: left;
}
.post__icon {
  width: 63px;
  height: 63px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  min-width: 60px;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post__icon img {
  width: 30px;
}
@media (min-width: 760px) {
  .banner__logo {
    top: 11.6%;
  }
  .banner__post {
    width: 100%;
    max-width: 1038px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .post__item {
    width: calc(100% / 2);
  }
}
@media (min-width: 1024px) {
  .banner__list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
  }
  .banner__post {
    position: absolute;
    bottom: -19.5%;
    left: 50%;
    transform: translateX(-50%);
  }
  .post__name {
    margin-top: -3px;
  }
  .post__desc {
    margin-top: 10px;
  }
  .post__content {
    right: 11.76%;
    top: 24%;
  }
}
