@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Black.eot');
  src: url('../font/AvertaCY-Black.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Black.woff2') format('woff2'), url('../font/AvertaCY-Black.woff') format('woff'), url('../font/AvertaCY-Black.ttf') format('truetype'), url('../font/AvertaCY-Black.svg#AvertaCY-Black') format('svg');
  font-weight: 900;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Regular.eot');
  src: url('../font/AvertaCY-Regular.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Regular.woff2') format('woff2'), url('../font/AvertaCY-Regular.woff') format('woff'), url('../font/AvertaCY-Regular.ttf') format('truetype'), url('../font/AvertaCY-Regular.svg#AvertaCY-Regular') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Bold.eot');
  src: url('../font/AvertaCY-Bold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Bold.woff2') format('woff2'), url('../font/AvertaCY-Bold.woff') format('woff'), url('../font/AvertaCY-Bold.ttf') format('truetype'), url('../font/AvertaCY-Bold.svg#AvertaCY-Bold') format('svg');
  font-weight: 700;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Extrabold.eot');
  src: url('../font/AvertaCY-Extrabold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Extrabold.woff2') format('woff2'), url('../font/AvertaCY-Extrabold.woff') format('woff'), url('../font/AvertaCY-Extrabold.ttf') format('truetype'), url('../font/AvertaCY-Extrabold.svg#AvertaCY-Extrabold') format('svg');
  font-weight: 800;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Light.eot');
  src: url('../font/AvertaCY-Light.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Light.woff2') format('woff2'), url('../font/AvertaCY-Light.woff') format('woff'), url('../font/AvertaCY-Light.ttf') format('truetype'), url('../font/AvertaCY-Light.svg#AvertaCY-Light') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: 'Averta CY Extrathin';
  src: url('../font/AvertaCY-Extrathin.eot');
  src: url('../font/AvertaCY-Extrathin.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Extrathin.woff2') format('woff2'), url('../font/AvertaCY-Extrathin.woff') format('woff'), url('../font/AvertaCY-Extrathin.ttf') format('truetype'), url('../font/AvertaCY-Extrathin.svg#AvertaCY-Extrathin') format('svg');
  font-weight: 200;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Semibold.eot');
  src: url('../font/AvertaCY-Semibold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Semibold.woff2') format('woff2'), url('../font/AvertaCY-Semibold.woff') format('woff'), url('../font/AvertaCY-Semibold.ttf') format('truetype'), url('../font/AvertaCY-Semibold.svg#AvertaCY-Semibold') format('svg');
  font-weight: 600;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Thin.eot');
  src: url('../font/AvertaCY-Thin.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Thin.woff2') format('woff2'), url('../font/AvertaCY-Thin.woff') format('woff'), url('../font/AvertaCY-Thin.ttf') format('truetype'), url('../font/AvertaCY-Thin.svg#AvertaCY-Thin') format('svg');
  font-weight: 100;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: 'Averta CY';
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}
ul {
  list-style: none;
  display: block;
}
li {
  display: block;
}
a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-sub {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 11.5px 30px;
  border: 1px outset transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
}
.button-sub:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading-text {
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
@media (min-width: 760px) {
  .heading-text::before {
    position: absolute;
    content: "";
    top: 15px;
    left: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
  .heading-text::after {
    position: absolute;
    content: "";
    top: 15px;
    right: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
}
.heading-sub {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin-top: 14px;
}
.heading-sub img {
  max-width: 13px;
  margin-left: 5px;
}
.scroll {
  overflow: auto;
  /* ẩn scroll  */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.brand__icon {
  position: absolute;
  top: 23px;
  color: #000000;
  padding: 8px 11.5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.brand__icon:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* //brand */
.body__brand {
  padding-top: 60px;
}
.brand__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.brand-heading__text {
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
@media (min-width: 760px) {
  .brand-heading__text::before {
    position: absolute;
    content: "";
    top: 15px;
    left: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
  .brand-heading__text::after {
    position: absolute;
    content: "";
    top: 15px;
    right: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
}
.brand__banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 70px;
  margin: 70px 0px 37px;
}
.brand-banner__item {
  margin-bottom: 20px;
}
.brand-banner__box {
  width: 100%;
}
.brand-banner__content {
  width: 100%;
  max-width: 296px;
  margin: 0 auto;
}
.brand-banner__logo {
  text-align: center;
}
.brand-banner__logo img {
  width: auto;
}
.brand-banner__text {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0px;
  margin-top: 10px;
}
.brand__list {
  overflow: auto;
  /* ẩn scroll  */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
  margin: 0 10px;
  padding: 3px 0px 1px 0px;
  background-color: #ffffff;
  border-radius: 20px;
  margin-top: 40px;
  position: relative;
}
.brand__list::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.brand-list__inner {
  width: 940px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 30px;
}
.brand__item {
  width: calc((100% - 300px) / 6);
}
.brand__left,
.brand__right {
  display: none;
}
@media (min-width: 760px) {
  .brand__banner {
    flex-direction: row;
  }
  .brand-banner__item {
    width: calc((100% - 10px) / 2);
    position: relative;
    margin-bottom: 0px;
  }
  .brand-banner__box {
    position: absolute;
    bottom: 34px;
    left: 0px;
  }
}
@media (min-width: 1024px) {
  .brand__list {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .brand-list__inner {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
  }
  .brand__left {
    position: absolute;
    top: 23px;
    color: #000000;
    padding: 8px 11.5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    transition: all 0.2s ease;
    left: 40px;
    display: block;
  }
  .brand__left:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .brand__right {
    position: absolute;
    top: 23px;
    color: #000000;
    padding: 8px 11.5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    transition: all 0.2s ease;
    right: 40px;
    display: block;
  }
  .brand__right:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}
