* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: 'Averta CY';
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}
ul {
  list-style: none;
  display: block;
}
li {
  display: block;
}
a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-sub {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 11.5px 30px;
  border: 1px outset transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button-sub:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading-text {
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.heading-text::before {
  position: absolute;
  content: "";
  top: 15px;
  left: -127px;
  width: 120px;
  height: 100%;
  border-top: 1px solid #ffffff;
}
.heading-text::after {
  position: absolute;
  content: "";
  top: 15px;
  right: -127px;
  width: 120px;
  height: 100%;
  border-top: 1px solid #ffffff;
}
.heading-sub {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin-top: 12.5px;
}
.heading-sub img {
  max-width: 13px;
  margin-left: 5px;
}
.scroll {
  overflow: auto;
  /* ẩn scroll  */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
/* //brand */
.body__brand {
  padding-top: 60px;
}
.brand__heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.brand-heading__text {
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
.brand-heading__text::before {
  position: absolute;
  content: "";
  top: 15px;
  left: -127px;
  width: 120px;
  height: 100%;
  border-top: 1px solid #ffffff;
}
.brand-heading__text::after {
  position: absolute;
  content: "";
  top: 15px;
  right: -127px;
  width: 120px;
  height: 100%;
  border-top: 1px solid #ffffff;
}
.brand__banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.brand-banner__item {
  margin-bottom: 20px;
}
.brand-banner__box {
  width: 100%;
}
.brand-banner__content {
  width: 100%;
  max-width: 296px;
  margin: 0 auto;
}
.brand-banner__logo {
  text-align: center;
}
.brand-banner__logo img {
  width: auto;
}
.brand-banner__text {
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin-top: 10px;
}
.brand__list {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 0px 130px;
  margin-top: 40px;
  position: relative;
}
.brand__item {
  width: calc((100% - 300px) / 6);
}
.brand__icon {
  position: absolute;
  top: 20px;
  color: #000000;
  padding: 8px 11.5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.brand__icon:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.brand__left {
  position: absolute;
  top: 20px;
  color: #000000;
  padding: 8px 11.5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 0.2s ease;
  left: 50px;
}
.brand__left:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.brand__right {
  position: absolute;
  top: 20px;
  color: #000000;
  padding: 8px 11.5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 0.2s ease;
  right: 50px;
}
.brand__right:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
