@import '../variable.less';
@import "../mixin.less";

/* //brand */

.body__brand{
    padding-top: 60px;
}

.brand__heading{
    .heading();
}

.brand-heading__text{
    .heading-text();
}

.brand__banner{ 
    .flex-between();
    flex-direction: column; 
    margin-top: 70px;
    margin: 70px 0px 37px;
}

.brand-banner__item{ 
    margin-bottom: 20px; 
}

.brand-banner__box{ 
    width: 100%;
}

.brand-banner__content{
    .block-center(@max-width: 296px);
}

.brand-banner__logo {
    text-align: center;
}

.brand-banner__logo img{
    width: auto;
}

.brand-banner__text{  
    font-size : @size-s;
    line-height : @line-height-xs;
    letter-spacing: @spacing-none;
    margin-top: 10px;
}

.brand__list{
    .scroll(); 
    margin: 0 10px; 
    padding: 3px 0px 1px 0px;
    background-color: @color-sub;
    border-radius: 20px;
    margin-top: 40px;
    position: relative;
}

.brand-list__inner{
    width: 940px; 
    .flex-between(); 
    margin-left: 30px;
}

.brand__item{
    width: calc((100% - 300px) / 6);
}

.brand__left,.brand__right{
    display: none;
}

@media (min-width:760px){
    .brand__banner{ 
        flex-direction: row;
    }

    .brand-banner__item{ 
        width: calc((100% - 10px) /2);
        position: relative;
        margin-bottom: 0px;
    }

    .brand-banner__box{ 
        position: absolute;
        bottom: 34px;
        left: 0px;
    }
    
}

@media (min-width:1024px){
    .brand__list{
        .block-center(@max-width: 1200px);
    }

    .brand-list__inner{
        .block-center(@max-width: 940px);
    }
    
    .brand__left{
       .brand__icon();
       left: 40px;
       display: block;
    }
    
    .brand__right{
        .brand__icon();
        right: 40px;
        display: block;
    }
}