@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Black.eot');
  src: url('../font/AvertaCY-Black.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Black.woff2') format('woff2'), url('../font/AvertaCY-Black.woff') format('woff'), url('../font/AvertaCY-Black.ttf') format('truetype'), url('../font/AvertaCY-Black.svg#AvertaCY-Black') format('svg');
  font-weight: 900;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Regular.eot');
  src: url('../font/AvertaCY-Regular.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Regular.woff2') format('woff2'), url('../font/AvertaCY-Regular.woff') format('woff'), url('../font/AvertaCY-Regular.ttf') format('truetype'), url('../font/AvertaCY-Regular.svg#AvertaCY-Regular') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Bold.eot');
  src: url('../font/AvertaCY-Bold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Bold.woff2') format('woff2'), url('../font/AvertaCY-Bold.woff') format('woff'), url('../font/AvertaCY-Bold.ttf') format('truetype'), url('../font/AvertaCY-Bold.svg#AvertaCY-Bold') format('svg');
  font-weight: 700;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Extrabold.eot');
  src: url('../font/AvertaCY-Extrabold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Extrabold.woff2') format('woff2'), url('../font/AvertaCY-Extrabold.woff') format('woff'), url('../font/AvertaCY-Extrabold.ttf') format('truetype'), url('../font/AvertaCY-Extrabold.svg#AvertaCY-Extrabold') format('svg');
  font-weight: 800;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Light.eot');
  src: url('../font/AvertaCY-Light.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Light.woff2') format('woff2'), url('../font/AvertaCY-Light.woff') format('woff'), url('../font/AvertaCY-Light.ttf') format('truetype'), url('../font/AvertaCY-Light.svg#AvertaCY-Light') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: 'Averta CY Extrathin';
  src: url('../font/AvertaCY-Extrathin.eot');
  src: url('../font/AvertaCY-Extrathin.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Extrathin.woff2') format('woff2'), url('../font/AvertaCY-Extrathin.woff') format('woff'), url('../font/AvertaCY-Extrathin.ttf') format('truetype'), url('../font/AvertaCY-Extrathin.svg#AvertaCY-Extrathin') format('svg');
  font-weight: 200;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Semibold.eot');
  src: url('../font/AvertaCY-Semibold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Semibold.woff2') format('woff2'), url('../font/AvertaCY-Semibold.woff') format('woff'), url('../font/AvertaCY-Semibold.ttf') format('truetype'), url('../font/AvertaCY-Semibold.svg#AvertaCY-Semibold') format('svg');
  font-weight: 600;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Thin.eot');
  src: url('../font/AvertaCY-Thin.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Thin.woff2') format('woff2'), url('../font/AvertaCY-Thin.woff') format('woff'), url('../font/AvertaCY-Thin.ttf') format('truetype'), url('../font/AvertaCY-Thin.svg#AvertaCY-Thin') format('svg');
  font-weight: 100;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: 'Averta CY';
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}
ul {
  list-style: none;
  display: block;
}
li {
  display: block;
}
a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-sub {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 11.5px 30px;
  border: 1px outset transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
}
.button-sub:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading-text {
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
@media (min-width: 760px) {
  .heading-text::before {
    position: absolute;
    content: "";
    top: 15px;
    left: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
  .heading-text::after {
    position: absolute;
    content: "";
    top: 15px;
    right: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
}
.heading-sub {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin-top: 14px;
}
.heading-sub img {
  max-width: 13px;
  margin-left: 5px;
}
.scroll {
  overflow: auto;
  /* ẩn scroll  */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.brand__icon {
  position: absolute;
  top: 23px;
  color: #000000;
  padding: 8px 11.5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.brand__icon:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.footer {
  background-color: #000000;
  border-top: 1px solid rgba(192, 192, 192, 0.4);
}
.footer__item {
  padding: 20px 0px 20px 0px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
}
.footer__logo {
  width: 100%;
  max-width: 205px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.footer-logo__img {
  margin-bottom: 15px;
}
.footer-logo__img img {
  width: auto;
}
.footer__item:nth-child(2) .footer-logo__img {
  margin-bottom: 35px;
}
.footer-logo__icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info__item {
  margin-bottom: 40px;
}
.info__title {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.info__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  margin-top: 10px;
}
.inner__contact {
  padding: 0px 10px 29px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
}
.contact__title {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.contact__desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  text-transform: none;
  margin-top: 10px;
}
.contact__logo {
  width: 100%;
  max-width: 390px;
  margin-top: 20px;
}
.contact-logo__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-logo__item {
  width: calc(100% / 5);
}
.contact-logo__bottom {
  max-width: 124px;
  margin-top: 10px;
}
.inner__local {
  padding-top: 29px;
}
.local__btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.local-btn__item {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  background-color: #000000;
  text-transform: uppercase;
  padding: 11.5px 30px;
  border: 1px outset #ffffff;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
  font-weight: 400;
  margin: 0 10px;
}
.local-btn__item:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: transparent;
}
.local-btn__item.active {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 11.5px 30px;
  border: 1px outset transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
  font-weight: 400;
}
.local-btn__item.active:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}
.local__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
}
.local__item {
  width: calc((100% - 20px) / 3);
  margin-top: 30px;
}
.local__title {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(192, 192, 192, 0.4);
}
.local__desc {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: left;
  text-transform: none;
  align-items: flex-start;
  margin: 15px 0px 0px 0px;
}
.local-desc__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2px;
}
.local-desc__text {
  width: 100%;
  margin-left: 16px;
}
.footer__end {
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0px;
  padding: 18px 6px 18px 0px;
}
@media (min-width: 760px) {
  .footer__inner {
    padding: 0 20px;
  }
  .footer__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    padding: 60px 0px 37px 0px;
  }
  .footer__item:nth-child(2) {
    padding: 40px 0px 12px 0px;
  }
  .footer__logo {
    width: 100%;
    max-width: 238px;
    margin: 0px ;
  }
  .footer-logo__icon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .footer-icon__item {
    margin-left: 10px;
  }
  .inner__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .info__title,
  .info__desc {
    text-align: left;
  }
  .inner__contact {
    padding: 0px 0px 30px;
  }
  .contact__title,
  .contact__desc {
    text-align: left;
  }
  .local-btn__item {
    margin: 0px 14px 0px 0px;
  }
  .local__list {
    padding: 0px;
  }
  .local__item {
    width: calc((100% - 40px) / 3);
    margin-top: 30px;
  }
}
@media (min-width: 1024px) {
  .footer__box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
  }
  .footer-logo__img {
    text-align: left;
  }
  .footer__inner {
    width: 100%;
    max-width: 927px;
    padding: 0px;
  }
  .footer__item:nth-child(2) .footer__inner {
    padding-left: 5px;
  }
  .inner__info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .info__item {
    margin-right: 61px;
  }
  .info__item:last-child {
    margin-right: 0px;
  }
  .footer-icon__item:first-child {
    margin-left: 0;
  }
  .inner__contact {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5px 0px 30px;
  }
  .contact__logo {
    margin-left: 36px;
    margin-top: 15px;
  }
  .contact-logo__item {
    width: calc((100% - 40px) / 5);
  }
  .local__item {
    width: calc((100% - 80px) / 3);
  }
  .local-desc__text {
    max-width: 250px;
  }
}
