@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Black.eot');
  src: url('../font/AvertaCY-Black.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Black.woff2') format('woff2'), url('../font/AvertaCY-Black.woff') format('woff'), url('../font/AvertaCY-Black.ttf') format('truetype'), url('../font/AvertaCY-Black.svg#AvertaCY-Black') format('svg');
  font-weight: 900;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Regular.eot');
  src: url('../font/AvertaCY-Regular.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Regular.woff2') format('woff2'), url('../font/AvertaCY-Regular.woff') format('woff'), url('../font/AvertaCY-Regular.ttf') format('truetype'), url('../font/AvertaCY-Regular.svg#AvertaCY-Regular') format('svg');
  font-weight: 400;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Bold.eot');
  src: url('../font/AvertaCY-Bold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Bold.woff2') format('woff2'), url('../font/AvertaCY-Bold.woff') format('woff'), url('../font/AvertaCY-Bold.ttf') format('truetype'), url('../font/AvertaCY-Bold.svg#AvertaCY-Bold') format('svg');
  font-weight: 700;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Extrabold.eot');
  src: url('../font/AvertaCY-Extrabold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Extrabold.woff2') format('woff2'), url('../font/AvertaCY-Extrabold.woff') format('woff'), url('../font/AvertaCY-Extrabold.ttf') format('truetype'), url('../font/AvertaCY-Extrabold.svg#AvertaCY-Extrabold') format('svg');
  font-weight: 800;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Light.eot');
  src: url('../font/AvertaCY-Light.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Light.woff2') format('woff2'), url('../font/AvertaCY-Light.woff') format('woff'), url('../font/AvertaCY-Light.ttf') format('truetype'), url('../font/AvertaCY-Light.svg#AvertaCY-Light') format('svg');
  font-weight: 300;
}
@font-face {
  font-family: 'Averta CY Extrathin';
  src: url('../font/AvertaCY-Extrathin.eot');
  src: url('../font/AvertaCY-Extrathin.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Extrathin.woff2') format('woff2'), url('../font/AvertaCY-Extrathin.woff') format('woff'), url('../font/AvertaCY-Extrathin.ttf') format('truetype'), url('../font/AvertaCY-Extrathin.svg#AvertaCY-Extrathin') format('svg');
  font-weight: 200;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Semibold.eot');
  src: url('../font/AvertaCY-Semibold.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Semibold.woff2') format('woff2'), url('../font/AvertaCY-Semibold.woff') format('woff'), url('../font/AvertaCY-Semibold.ttf') format('truetype'), url('../font/AvertaCY-Semibold.svg#AvertaCY-Semibold') format('svg');
  font-weight: 600;
}
@font-face {
  font-family: 'Averta CY';
  src: url('../font/AvertaCY-Thin.eot');
  src: url('../font/AvertaCY-Thin.eot?#iefix') format('embedded-opentype'), url('../font/AvertaCY-Thin.woff2') format('woff2'), url('../font/AvertaCY-Thin.woff') format('woff'), url('../font/AvertaCY-Thin.ttf') format('truetype'), url('../font/AvertaCY-Thin.svg#AvertaCY-Thin') format('svg');
  font-weight: 100;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-family: 'Averta CY';
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
}
ul {
  list-style: none;
  display: block;
}
li {
  display: block;
}
a {
  text-decoration: none;
  display: block;
  color: #ffffff;
}
img {
  width: 100%;
  height: auto;
}
.flex {
  display: flex;
  align-items: center;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button-sub {
  font-size: 14px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0px;
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  text-transform: uppercase;
  padding: 10.5px 29px;
  border: 1px outset transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  width: auto;
}
.button-sub:hover {
  color: #ffffff;
  background-color: #000000;
  border-color: #ffffff;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading-text {
  font-size: 24px;
  font-weight: 600;
  line-height: auto;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
}
@media (min-width: 760px) {
  .heading-text::before {
    position: absolute;
    content: "";
    top: 15px;
    left: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
  .heading-text::after {
    position: absolute;
    content: "";
    top: 15px;
    right: -127px;
    width: 120px;
    height: 100%;
    border-top: 1px solid #ffffff;
  }
}
.heading-sub {
  font-size: 14px;
  font-weight: 400;
  line-height: auto;
  letter-spacing: 0px;
  color: #ffffff;
  text-align: center;
  margin-top: 12px;
}
.heading-sub img {
  max-width: 13px;
  margin-left: 5px;
}
.scroll {
  overflow: auto;
  /* ẩn scroll  */
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.scroll::-webkit-scrollbar {
  width: 0 !important;
  display: none;
}
.brand__icon {
  position: absolute;
  top: 23px;
  color: #000000;
  padding: 8px 11.5px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.brand__icon:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.app {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #000000;
}
.header {
  position: relative;
}
.header__content {
  width: 100%;
  position: absolute;
  top: 0px;
  background-image: linear-gradient(#000000, rgba(0, 0, 0, 0.4));
  z-index: 2;
}
.header__heading {
  display: none;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
}
.left__list,
.nav__list {
  display: none;
}
.menu__right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.right__form {
  display: none;
}
.right__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-left: 24px;
  min-width: 120px;
}
@media (min-width: 760px) {
  .header__heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 445px;
    margin: 0 auto;
    font-weight: 600;
    letter-spacing: 0px;
    text-transform: uppercase;
    padding: 13px 0px;
  }
  .header__heading p:first-child {
    position: relative;
  }
  .header__heading p:first-child::after {
    position: absolute;
    content: "";
    height: 12px;
    top: 3px;
    right: -10px;
    border-right: 1px solid #ffffff;
  }
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
  }
  .left__list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 250px;
  }
  .left__item:first-child {
    margin-right: 10px;
  }
  .left-item__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .left-item__text {
    font-size: 10px;
    letter-spacing: 0px;
    text-transform: uppercase;
    margin-left: 10px;
  }
  .left__item:nth-child(2) .left-item__text {
    font-size: 14px;
  }
  .right__form {
    display: block;
    position: relative;
  }
  .right-form__input {
    width: 100%;
    min-width: 200px;
    padding: 11.5px 0px 11.5px 18.5px;
    border-radius: 20px;
  }
  .right-form__icon {
    position: absolute;
    top: 7px;
    right: 19px;
  }
  .right__list {
    min-width: 100px;
  }
  .right__item.mobile {
    display: none;
  }
  .menu__logo {
    margin: 0px 10px 0px;
  }
  .nav__list {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 10px 5px 10px;
  }
  .nav__item {
    margin-left: 27px;
  }
  .nav__item:first-child {
    margin: 0px;
  }
  .nav-item__link {
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0px;
  }
  .nav__item:last-child .nav-item__link {
    font-weight: 900;
    font-style: italic;
    background-color: #b50000;
    padding: 5px 10px;
  }
}
@media (min-width: 1024px) {
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 60px 18.5px 60px;
  }
  .left__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 309px;
    width: 100%;
    padding-bottom: 11px;
  }
  .left__item:first-child {
    margin: 0;
  }
  .left-item__text {
    font-size: 12px;
    font-weight: 600;
  }
  .menu__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 390px;
  }
  .menu__logo {
    max-width: 192px;
    margin: 0px 0px 0px 81px;
  }
  .right-form__input {
    min-width: 238px;
    max-width: 100%;
  }
  .right__list {
    min-width: 120px;
  }
  .nav__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1073px;
    margin: 0 auto;
    align-items: center;
    padding: 10px 0px;
  }
  .nav__item {
    margin: 0px;
  }
  .nav-item__link {
    font-size: 12px;
    letter-spacing: 0px;
  }
  .nav__item:last-child {
    margin-top: -1.5px;
  }
  .nav__item:last-child .nav-item__link {
    padding: 7.5px 18px;
    letter-spacing: 0.05em;
  }
}
