@import '../variable.less';
@import "../mixin.less";

.app{
    .block-center(@max-width: 1440px);
    background-color: @color-main;
}

.header{
    position: relative;
}

.header__content{
    width: 100%;
    position: absolute;
    top: 0px;
    background-image: linear-gradient(@color-black, @color-black-linear);
    z-index: 2;
}

.header__heading{
    display: none;
}

.header__menu{
    .flex-center();
    padding: 10px 20px;
}

.left__list,.nav__list{
    display: none;
}

.menu__right{
    .flex-center();
}

.right__form{
    display: none;
}

.right__list{
    .flex-between();
    width: 100%;
    margin-left: 24px;
    min-width: 120px;
}

@media (min-width:760px){

    .header__heading{
        .flex-between();
        .block-center(@max-width: 445px);
        font-weight: @weight-m; 
        letter-spacing : @spacing-none;
        text-transform: uppercase;
        padding: 13px 0px;

        p:first-child{
            position: relative;

            &::after{
                position: absolute;
                content: "";
                height: 12px;
                top: 3px;
                right: -10px;
                border-right: 1px solid @color-text-main;
            }
        }
    }

    .header__menu{
        .flex-between();
        padding: 0 20px;
    }
    
    
    .left__list{
        .flex-start();
        max-width: 250px;
    }

    .left__item:first-child{
        margin-right: 10px;
    }

    .left-item__link{
        .flex-between();
    }

    .left-item__text{
        font-size: @size-xs; 
        letter-spacing: @spacing-none;
        text-transform: uppercase;
        margin-left: 10px; 
    }

    .left__item:nth-child(2){
        .left-item__text{
            font-size: @size-m;
        }
    }

    .right__form{
        display: block;
        position: relative;
    }

    .right-form__input{
        width: 100%;
        min-width: 200px;
        padding: 11.5px 0px 11.5px 18.5px;
        border-radius: 20px;
    }
    
    .right-form__icon{
        position: absolute;
        top: 7px;
        right: 19px;
    }

    .right__list{
        min-width: 100px;
    }

    .right__item.mobile{
        display: none;
    }
    
    .menu__logo{
        margin: 0px 10px 0px; 
    }
    
    .nav__list{
        .flex-center();
        align-items: flex-start; 
        padding: 20px 10px 5px 10px; 
    }

    .nav__item{
        margin-left: 27px;

        &:first-child{
            margin: 0px;
        }
    }
    
    .nav-item__link{
        font-size: @size-xs;
        font-weight: @weight-l ;
        text-transform: uppercase;
        padding: 0px;
    }
    
    .nav__item:last-child{
        .nav-item__link{
            font-weight: @weight-xl; 
            font-style: italic;
            background-color: @color-btn;
            padding: 5px 10px; 
        }
    }
}

@media (min-width:1024px){
    
    .header__menu{
        .flex-between();
        padding: 18px 60px 18.5px 60px;
    }
    
    .left__list{
        .flex-between();
        max-width: 309px;
        width: 100%;
        padding-bottom: 11px;
    }

    .left__item:first-child{
        margin: 0;
    }
    
    .left-item__text{
        font-size: @size-s;
        font-weight : @weight-m;
    }
    
    .menu__right{
        .flex-between();
        min-width: 390px;
    }
    
    .menu__logo{
        max-width: 192px;
        margin: 0px 0px 0px 81px;
    }
    
    .right-form__input{
        min-width: 238px;
        max-width: 100%;
    }
    
    .right__list{
        min-width: 120px;
    }
    
    .nav__list{
        .flex-between();
        .block-center(@max-width:1073px);
        align-items: center;
        padding: 10px 0px;
    }

    .nav__item{
        margin:0px;
    }
    
    .nav-item__link{
        font-size: @size-s;
        letter-spacing: @spacing-none;
    }
    
    .nav__item:last-child{

        margin-top: -1.5px;
        .nav-item__link{
            padding: 7.5px 18px;
            letter-spacing: @spacing;
        }
    }
}

